:root {
    --sunsetSkyColor: #01308a;
    --sunsetColor: #f39f60;
    --oceanColor: #078E98;
}

body {
    background-image: linear-gradient(var(--sunsetSkyColor), var(--sunsetColor), var(--oceanColor));
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
}

.headerContainer {
    display: grid;
    align-items: center;
    grid-template-areas:
        "a b c";
}

#headerText {
    grid-area: b;
    text-align: center;
    font-size: 64px;
    margin-top: -10px;
}

.statusContainer {
    display: grid;
    align-items: center;
    grid-template-areas:
        '. b .'
        '. c .';
}

#statusText {
    grid-area: b;
    align-self: center;
    text-align: center;
    font-size: 32px;
    margin-left: 10%;
    margin-right: 10%;
    display: none;
}

#continueTextBtn {
    grid-area: c;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 24px;
}

#actions {
    display: none;
    grid-area: c;
    text-align: center;
}

#inventory, #craft, #search {
    font-size: 24px;
}

#dayCounter {
    text-align: center;
    grid-area: b;
    font-size: 32px;
}

#inventoryWindow {
    display: none;
    position: fixed;
    top: 10%; left: 10%; right: 10%; bottom: 10%;
    background-color: #815438;
}

#closeInvBtn {
    position: fixed;
    top:10%; left: 10%;
    background-color: red;
}

#invDisplay {
    text-align: center;
    margin: auto;
}

#craftWindow {
    display: none;
    position: fixed;
    top: 10%; left: 10%; right: 10%; bottom: 10%;
    background-color: #815438;
}

#closeCraftBtn {
    position: fixed;
    top:10%;left:10%;
    background-color: red;
}

#craftDisplay {
    text-align: center;
    margin: auto;
    display: grid;
}

#confirmCraft {
    height: 10%;
    position: fixed;
    bottom: 10%;
    width: 80%;
    font-size: 200%;
}

#knife, #campfire {
    text-align: center;
    margin-top: 10px;
    background-color: #f39f60;
}

.hideCraft {
    display: none;
}